<!DOCTYPE html>
<html>
<head>
    <title> 系统安装 - Powered by HisiPHP</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/system/css/style.css">
    <link rel="stylesheet" href="/static/system/css/install.css">
    <script src="/static/js/layui/layui.js"></script>
    <script>
    layui.config({
      base: '/static/system/js/',
      version: '{:time()}'
    }).use('global');
    </script>
</head>
<body>
<div class="header">
    <h1>感谢您选择HisiPHP</h1>
</div>