<style type="text/css">
    .layui-table-tool-temp{padding-right:0;}
</style>
<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/javascript">
    layui.use(['table', 'jquery', 'layer', 'laytpl', 'form', 'md5'], function() {
        var si, 
            table = layui.table, 
            $ = layui.jquery, 
            layer = layui.layer, 
            laytpl = layui.laytpl,
            form = layui.form,
            identifier = '{:config("hs_cloud.identifier")}',
            clientIp = '{:get_client_ip()}',
            md5 = layui.md5;

        var getTimestamp = function() {
            var myDate = new Date();
            return myDate.getFullYear()+'-'+(myDate.getMonth()+1)+'-'+myDate.getDate()+' '+myDate.getHours()+':'+myDate.getMinutes()+':'+myDate.getSeconds();
        }

        var getParam = function(name) { 
                var value = "", isFound = !1, search = this.location.search; 
                if (search.indexOf("?") == 0 && search.indexOf("=") > 1) { 
                    var params = unescape(search).substring(1, search.length).split("&"), i = 0; 
                    while (i < params.length && !isFound) {
                        params[i].indexOf("=") > 0 && params[i].split("=")[0].toLowerCase() == name.toLowerCase() && (value = params[i].split("=")[1], isFound = !0), i++ 
                    }
                } 
                return value == "" && (value = null), value;
            };

        var install = function (param) {
            $('.app-info').html('<div class="app-pay-success red">正在安装应用中，请勿刷新或关闭此页面</div>');
            $.get('{:url('install')}', param, function(res) {
                if (res.code == 1) {
                    $('.app-pay-success').removeClass('red').html('安装成功，稍后将自动刷新页面....');
                    setTimeout(function(){
                        location.reload();
                    }, 3000);
                } else {
                    $('.app-pay-success').html(res.msg);
                }
            }, 'json');
        };

        var popBindCloud = function ()
        {
            layer.open({
                title:'绑定云平台 / <a href="https://store.hisiphp.com/act/reg?domain={$_SERVER["SERVER_NAME"]}" target="_blank" class="mcolor">注册云平台</a>',
                id:'popLoginBox',
                area:'380px',
                content:$('#popCloudBind').html(),
                btn:['确认绑定', '取消'],
                btnAlign:'c',
                move:false,
                yes:function(index) {
                    var tips = $('#resultTips'), 
                        account = $('#cloudAccount').val(), 
                        pwd = $('#cloudPassword').val();
                    tips.html('请稍后，云平台通信中...');
                    $.post('{:url("upgrade/index")}', {account: account, password: md5.exec(pwd)}, function(res) {
                        if (res.code == 1) {
                            layer.msg(res.msg);
                            setTimeout(function() {
                                location.reload();
                            }, 3000);
                        } else {
                            tips.addClass('red').html(res.msg);
                            setTimeout(function() {
                                tips.removeClass('red').html('');
                            }, 3000);
                        }
                    });
                    return false;
                },
                success: function() {
                    $('#cloudForm .layui-word-aux').html('温馨提示：您需要登录云平台后才能安装此应用');
                }
            });
        }

        var specSelect = function() {
            var payment = $('.payment.layui-btn-normal').attr('data-value'),
                branchId = $('.branch_id.layui-btn-normal').attr('data-value'),
                price = $('.branch_id.layui-btn-normal').attr('data-price');
            $.ajax({
                url:'{$api_url}createOrder',
                data: {identifier: identifier,domain: '{:get_domain()}{:ROOT_DIR}', payment: payment, branch_id: branchId},
                dataType: 'jsonp',
                error: function(){
                    $('.app-order-id').html('支付二维码获取失败');
                },
                success: function(res) {
                    if (res.code == 200) {
                        var installParam = {
                            app_name: res.app_name, 
                            app_type: res.app_type, 
                            app_keys: res.app_keys, 
                            branch_id: branchId
                        };

                        var str = '';
                        // if (res.free_down > 1) {
                        //     str = '<a href="javascript:void(0);" class="layui-btn layui-btn-xs layui-btn-danger j-show-question">★ 购买该应用累计达到 <strong style="font-size:14px;">'+res.free_down+'</strong> 次后，即可享受无限域名授权 ★</a>';
                        // } else {
                        //     str = '<a href="javascript:void(0);" class="layui-btn layui-btn-xs layui-btn-danger j-show-question">★ 本应用为单域名授权（开发域名和正式域名可同时绑定） ★</a>';
                        // }

                        if (res.pro_free_down > 0) {
                            str += '<a href="https://www.hisiphp.com/authorize.html?source={:get_domain()}" class="layui-btn layui-btn-xs layui-btn-danger" target="_blank">★当前框架为公众免费版，点此升级为Pro版可享无限域名授权★</a>';
                        }

                        $('#authDesc').children('dd').html(str);
                        if (res.free_down == 1) {
                            $('#authDesc').hide();
                        }

                        if (res.app_keys != null && res.app_keys != '') {
                            $('.app-order-id').html('<a data-data=\''+JSON.stringify(installParam)+'\' class="layui-btn layui-btn-normal mt50" id="installBtn">'+(parseFloat(price) <= 0 ? '免费应用' : '已支付')+'，请点此直接安装</a>');
                        } else {

                            $('.app-order-id').html('<a href="https://store.hisiphp.com/client_pay/'+payment+'?order_id='+res.order_id+'&timestamp='+encodeURIComponent(getTimestamp())+'&sign='+md5.exec(res.order_id+identifier+getTimestamp())+'" target="_blank" id="jumpPay" class="layui-btn mt50 layui-btn-normal">点此跳转至'+(payment == 'wechat' ? '微信' : '支付宝')+'完成支付</a>');

                            // 定时刷新支付状态
                            var checkOrder = function() {
                                clearTimeout(si);
                                $.ajax({
                                    url:'{$api_url}checkOrder',
                                    data: {branch_id: branchId, identifier: identifier, domain: '{:get_domain()}{:ROOT_DIR}'},
                                    dataType: 'jsonp',
                                    success: function(result) {
                                        installParam.app_keys = result.app_keys;
                                        if (result.code == 200) {
                                            install(installParam);
                                        } else {
                                            si = setTimeout(function () {
                                                checkOrder();
                                            }, 5000);
                                        }
                                    }
                                });
                            }
                            setTimeout(function(){checkOrder()}, 5000);
                        }
                    } else {
                        $('.app-order-id').html(res.msg);
                    }
                }
            });
        };

        table.render({
            elem: '#dataTable'
            ,url: '{:url('', input('get.'))}'
            ,page: true
            ,toolbar: '#toolbar'
            ,defaultToolbar: []
            ,text: {none: '对不起！暂无相关应用，不过不用担心，一大波开发者正在开发中....'}
            ,cols: [[
                {field:'title', width:200, title: '应用名称'}
                ,{field:'intro', title: '应用简介'}
                ,{field:'author', width:100, title: '作者'}
                ,{field:'price', width:90, title: '价格', templet:function(d) {
                    return '￥'+d.price;
                }}
                ,{field:'sales', width:70, title: '下载'}
                ,{width:160, title: ( identifier ? '<a href="javascript:void(0);" class="layui-btn layui-btn-xs layui-btn-normal j-bind-cloud">重新绑定</a>' : ''), templet: '#buttonTpl'}
            ]]
            ,done:function(res, curr, count) {
                var type = getParam('type'), catId = getParam('cat_id');
                $('#type'+(type ? type : 1)).removeClass('layui-btn-primary').addClass('layui-btn-normal');
                $('#cats'+(catId ? catId : 0)).removeClass('layui-btn-primary').addClass('layui-btn-normal');
            }
        });

        // 按条件筛选
        $(document).on('click', '.app-filter', function() {
            var that = $(this), 
                _url = '{:url('')}',
                _id = that.attr('data-id'),
                type = getParam('type'),
                catId = getParam('cat_id');

            if (that.attr('data-type') == 1) {
                _url += '?type='+that.attr('data-id')+(catId ? '&cat_id='+catId : '');
            } else {
                _url += '?cat_id='+that.attr('data-id')+(type ? '&type='+type : '');
            }

            history.replaceState('', '', _url);
            table.reload('dataTable', {
              url: _url,
              page: 1
            });
            return false;
        });

        // 弹出安装界面
        $(document).on('click', '.pop-install', function() {
            var that = $(this), data = new Function('return '+ that.attr('data-data'))();
            if (identifier == null || identifier == '') {
                popBindCloud();
            } else {
                laytpl($('#installTpl').html()).render(data, function(html) {
                    layer.open({
                        type: 1,
                        shade: 0.5,
                        title: '安装'+data.title,
                        skin: 'layui-layer-rim',
                        area: ['480px', '530px'],
                        content: html,
                        success: function(layero, index) {
                            specSelect();
                        },
                        cancel: function(index, layero) { 
                            clearTimeout(si);
                            return true; 
                        }  
                    });
                })
            }
            return false;
        });

        // 弹出绑定云平台界面
        $(document).on('click', '.j-bind-cloud', function() {
            popBindCloud();
        });

        // 应用分支和支付方式切换
        $(document).on('click', '.app-spec-a', function() {
            var that = $(this);
            if (that.hasClass('layui-btn-normal')) {
                return false;
            }
            that.removeClass('layui-btn-primary').addClass('layui-btn-normal')
            that.siblings('a').addClass('layui-btn-primary').removeClass('layui-btn-normal');
            specSelect();
        });

        // 已购买的应用手动点击安装
        $(document).on('click', '#installBtn', function() {
            var that = $(this), param = new Function('return '+ that.attr('data-data'))();
            install(param);
        });

        $(document).on('click', '.j-show-question', function() {
            layer.open({
                type: 1,
                title: '购买常见问题',
                shadeClose: true,
                area:['650px', '400px'],
                content: $('#questionTpl').html()
            });
        });

        $(document).on('click', '.layui-icon-picture', function() {
            var that = $(this), data = new Function('return '+ that.attr('data-data'))(), json = [];
            for(var i in data) {
                json.push({alt: that.attr('data-title'), pid: '123', src: 'https://store.hisiphp.com'+data[i], 'thumb': 'https://store.hisiphp.com'+data[i]});
            }
            layer.photos({photos: {status: 1, start: 0, title: that.attr('data-title'), id: 1, data: json}});
        });
    });
</script>
<script type="text/html" id="questionTpl">
<pre>

  <span class="layui-badge layui-bg-blue">问</span> 如何实现线上域名本地解析？
  <span class="layui-badge layui-bg-green">答</span> 通过<a href="https://jingyan.baidu.com/article/5bbb5a1b15c97c13eba1798a.html" class="red" target="_blank">修改hosts</a>实现本地解析，用解析后的新域名进入后台重新绑定云平台即可。


  <span class="layui-badge layui-bg-blue">问</span> 付款成功了，还是显示未支付？
  <span class="layui-badge layui-bg-green">答</span> 支付成功后正常是会立即生效，2分钟内未生效请联系<a href="http://wpa.qq.com/msgrd?v=3&uin=364666827&site=qq&menu=yes" target="_top">QQ：364666827</a>

  <span class="layui-badge layui-bg-blue">问</span> 在a.com已经购买过此应用了，为什么www.a.com还要再购买？
  <span class="layui-badge layui-bg-green">答</span> 部分应用授权采用单域名授权，单域名规则并不是以根域名来判断的。

  <span class="layui-badge layui-bg-blue">问</span> 用本地开发域名购买的应用，上线后怎么办？
  <span class="layui-badge layui-bg-green">答</span> 支持开发域名和正式域名同时绑定，加QQ(364666827)联系添加域名。

  <!-- <span class="layui-badge layui-bg-blue">问</span> 部分应用授权说明显示“购买多少套后即可享受无限域名授权”什么意思？
  <span class="layui-badge layui-bg-green">答</span> 指购买该应用达到指定的数量后，可免费下载该应用并自动获得授权（同一个云平台账号）。 -->
</pre>
</script>
<script type="text/html" id="installTpl">
    <div class="layui-form">
        <dl class="app-spec">
            <dt>分支选择：</dt>
            <dd>
                {{# var i = 0; }}
                {{#  layui.each(d.branchs, function(index, item){ }}
                    <a href="javascript:void(0);" class="app-spec-a branch_id layui-btn layui-btn-xs {{ i == 0 ? 'layui-btn-normal' : 'layui-btn-primary' }}" data-value="{{ item.id }}" data-price="{{ item.price }}">{{ item.name }}</a>
                    {{# i++; }}
                {{#  }); }}
            </dd>
        </dl>
        <dl class="app-spec">
            <dt>支付方式：</dt>
            <dd>
                <a href="javascript:void(0);" data-value="alipay" class="layui-btn layui-btn-xs layui-btn-normal payment app-spec-a">支付宝支付</a>
                <a href="javascript:void(0);" data-value="wechat" class="layui-btn layui-btn-xs layui-btn-primary payment app-spec-a">微信支付</a>
            </dd>
        </dl>
        <dl class="app-spec" id="authDesc">
            <dt>友情提示：</dt>
            <dd>...</dd>
        </dl>
        <div class="layui-form-item app-info">
            <div class="app-order-id"></div>
        </div>
    </div>
</script>
<script type="text/html" id="toolbar">
    <dl class="apps-filter-tr">
        <dt>应用类型：</dt>
        <dd>
            <a href="javascript:void(0);" id="type1" data-type="1" data-id="1" class="layui-btn layui-btn-primary layui-btn-xs app-filter">模块</a>
            <a href="javascript:void(0);" id="type2" data-type="1" data-id="2" class="layui-btn layui-btn-primary layui-btn-xs app-filter">插件</a>
            <a href="javascript:void(0);" id="type3" data-type="1" data-id="3" class="layui-btn layui-btn-primary layui-btn-xs app-filter">主题</a>
        </dd>
    </dl>
<!--     <dl class="apps-filter-tr">
        <dt>应用分类：</dt>
        <dd>
            <a href="javascript:void(0);" id="cats0" data-id="0" class="layui-btn layui-btn-primary layui-btn-xs app-filter">所有</a>
            {volist name="$data['cats']" id="vo"}
                <a href="javascript:void(0);" data-type="2" id="cats{$vo['id']}" data-id="{$vo['id']}" class="layui-btn layui-btn-primary layui-btn-xs app-filter">{$vo['name']}</a>
            {/volist}
        </dd>
    </dl> -->
</script>
<script type="text/html" id="buttonTpl">
    <a href="https://store.hisiphp.com/detail/{{ d.id }}.html?iframe=yes" class="layui-btn layui-btn-xs layui-btn-primary j-iframe-pop" width="800" title="详情预览">详情</a>{{# if (d.install) { }}{{# if (d.upgrade == 1) { }}<a href="{:url('upgrade/lists')}?app_type={{ d.type == 1 ? 'module' : (d.type == 2 ? 'plugins' : 'theme') }}&identifier={{ d.install }}" target="_blank" class="layui-btn layui-btn-xs">升级</a>{{# } else { }}<a href="javascript:void(0);" title="暂无新版本" class="layui-btn layui-btn-xs layui-disabled">升级</a>{{# } }}{{# } else { }}<a href="#{:url('install')}?app_id={{ d.id }}" data-data='{{ JSON.stringify(d) }}' class="layui-btn layui-btn-xs layui-btn-normal pop-install">安装</a>{{# } }}{{# if (d.preview_url) { }}<a href="{{ d.preview_url }}" class="layui-btn layui-btn-xs layui-btn-primary">演示</a>{{# } }}
</script>
<script type="text/html" id="popCloudBind">
    <form class="layui-form layui-form-pane page-form" action="{:url()}" method="post" id="cloudForm">
        <div class="layui-form-item">
            <label class="layui-form-label">云平台账号</label>
            <div class="layui-input-inline w200">
                <input type="text" class="layui-input" id="cloudAccount" name="account" lay-verify="required" autocomplete="off" placeholder="请输入云平台登陆账号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">云平台密码</label>
            <div class="layui-input-inline w200">
                <input type="password" class="layui-input" id="cloudPassword" name="password" lay-verify="required" autocomplete="off" placeholder="请输入云平台登陆密码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-mid layui-word-aux" style="padding:0!important;">
                温馨提示：确认绑定，表示您已了解并同意<a href="#" class="mcolor2">云平台相关协议</a>
            </div>
        </div>
        <div class="layui-form-item" id="resultTips"></div>
    </form>
</script>