<style type="text/css">
    #popLoginBox{padding:0 20px!important;}
</style>
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th>系统信息</th>
        </tr> 
    </thead>
    <tbody>
        <tr>
            <td>当前版本：HisiPHP v{:config('hisiphp.version')}&nbsp;&nbsp;{if condition="config('hs_cloud.identifier')"}<a href="{:url('lists')}" style="display:none" id="upgrade" class="layui-btn layui-btn-normal layui-btn-xs">有新版本，请点此升级</a>{else /}<a href="javascript:layer.msg('请先绑定账号！');" style="display:none" id="upgrade" class="mcolor">点此获取升级</a>{/if}</td>
        </tr>
        <tr>
            <td>云平台通信：<span class="layui-btn layui-btn-normal layui-btn-xs" id="connectionStatus">...</span></td>
        </tr>
        <tr>
            <td>绑定云平台：{if condition="config('hs_cloud.identifier')"}{:substr(config('hs_cloud.identifier'), 0, 5)}***{:substr(config('hs_cloud.identifier'), -5)} <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-xs cloudBind">重新绑定</a>{else /}<a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-xs cloudBind">绑定云平台账号</a><span class="font12" style="color:#999"> [温馨提示：只有绑定了云平台，才可以使用在线升级]</span>{/if}</td>
        </tr>
        <tr>
            <td>授权认证：{:get_domain(false)} <span class="red">未认证</span></td>
        </tr>
        <tr>
            <td>运行环境：{$_SERVER["SERVER_SOFTWARE"]}</td>
        </tr>
        <tr>
            <td>服务器时间：{:date("Y年n月j日 H:i:s")}</td>
        </tr>
    </tbody>
</table>
{include file="block/layui" /}
{include file="block/bind_cloud" /}
<script>
layui.use(['jquery', 'layer', 'md5'], function() {
    var $ = layui.jquery, layer = layui.layer, md5 = layui.md5;
    $.ajax({
        dataType: 'JSON',
        url:'{$api_url}connection',
        data:'domain={$_SERVER["SERVER_NAME"]}&version={:config("hisiphp.version")}',
        error:function(){
            $('#connectionStatus').removeClass('layui-btn-normal').addClass('layui-btn-danger').html('通信异常');
        },success:function(json) {
            $('#connectionStatus').html('通信正常');
            if (json.data.upgrade == 1) {
                $('#upgrade').show();
            }
        }
    });

    $('.cloudBind').on('click', function() {
        layer.open({
            title:'绑定云平台 / <a href="https://store.hisiphp.com/act/reg?domain={$_SERVER["SERVER_NAME"]}" target="_blank" class="mcolor">注册云平台</a>',
            id:'popLoginBox',
            area:'380px',
            content:$('#popCloudBind').html(),
            btn:['确认绑定', '取消'],
            btnAlign:'c',
            move:false,
            yes:function(index) {
                var tips = $('#resultTips');
                var account = $('#cloudAccount').val();
                var pwd = $('#cloudPassword').val();

                tips.html('请稍后，云平台通信中...');
                $.post('{:url('')}', {account: account, password: md5.exec(pwd)}, function(res) {
                    if (res.code == 1) {
                        layer.msg(res.msg);
                        setTimeout(function() {
                            location.reload();
                        }, 3000);
                    } else {
                        tips.addClass('red').html(res.msg);
                        setTimeout(function() {
                            tips.removeClass('red').html('');
                        }, 3000);
                    }
                });
                return false;
            }
        });
    });
});
</script>